
.wrapper{
    width: 20rem;
    height: 20rem;
    background: rgb(54, 54, 54);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.project_img img{
    width: 18rem;
}
.desc h2{
    font-size: 2rem;
}
.wrapper:hover{
    transform: translateY(-0.5rem);
    transition: 0.5s;
    filter: drop-shadow(0.5rem 0.5rem 10px rgb(14, 13, 13));
}
@media(max-width: 768px) {
    .wrapper{
        width: 18rem;
        height: 18rem;
    }
    .project_img img{
        width: 16rem;
    }
}