.wrapper{
    background: #1d1d1d82;
    padding: 20vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
}
.wrapper h1{
    font-size: 5rem;
    margin: 0;
}
.grid_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 5rem;
}
.switch_bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: 3rem 0 0;
}
.btnSwitcher {
    border: none;
    border-radius: 10px;
    height: 2.5rem;
    width: 7rem;
    font-size: 1.3rem;
    background: transparent;
    color: aliceblue;
}
@media(max-width:1280px) {
    .wrapper{
        padding: 5rem 0;
    }
    .wrapper h1{
        font-size: 3.5rem;
    }
    .grid_container{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem;
    }
}
@media(max-width:768px) {
    .wrapper{
        padding: 5rem 0;
    }
    .wrapper h1{
        font-size: 3.5rem;
    }
    .grid_container{
        grid-template-columns: repeat(1,1fr);
        padding: 2rem;
    }
}