.wrapper{
    background: rgb(32, 32, 32);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    filter: drop-shadow(0.5rem 0.5rem 10px rgb(14, 13, 13));
}

.project_ico {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.desc p{
    font-size: 2rem;
    margin: 1rem 0;
}
.link{
    display: flex;
    justify-content: space-between;
}
.link a{
    font-size: 1.5rem;
    color: aliceblue;
}
.link img{
    width: 1.5rem;
    height: 1.5rem;
}