.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 50vw;
}
.details h5{
    font-size: 1rem;
}
.outer{
    width: 100%;
    height: 1rem;
    border-radius: 50px;
    background-color: aliceblue;
}
.inner{
    background: var(--shadow);
    height: 1rem;
    border-radius: 50px;
}
@media(max-width: 1000px){
    .details{
        width: 70vw;
    }
}