.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper h3{
    font-size: 2vw;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 500;
    margin: 0;
    margin-top: 15vh;
}
.wrapper h1{
    margin: 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 7px;
    font-size: 20vw;
    font-family: 'Koulen', sans-serif;
    font-weight: 600;
    position: relative;
}
.pic{
    position: absolute;
    mix-blend-mode: luminosity;
    border-radius: 100px;
    bottom: 0;
    width: 35vw;
}
.wrapper h3::after, .wrapper h1::before{
    content: '';
    height: 10vw;
    width: 10vw;
    background: var(--shadow);
    position: absolute;
    margin: 25vw 0 0 5vw;
    animation: animate 10s infinite ease-in-out;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
@keyframes animate {
    0%, 100%{
        rotate: 0deg;
    }
    50%{
        rotate: 180deg;
    }
}

.wrapper h3::after{
    height: 2.5vw;
    width: 2.5vw;
    margin: 0 10vw;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.wrapper::after{
    content: '';
    height: 10vw;
    width: 10vw;
    position: absolute;
    border-radius: 100px;
    margin: 40vw 0 0 60vw;
    background: var(--shadow);
    box-shadow: 0 0 10px 20px rgb(51, 3, 124);
    animation: animate2 6s infinite linear;
}
@keyframes animate2 {
    50%{
      scale: 1.1;
      border-radius: 30% 70% 67% 33% / 30% 30% 70% 70% ;  
    }
    75%{
        border-radius: 72% 28% 26% 74% / 56% 62% 38% 44% ;
    }
}
@media (max-width: 1399px) {
    .wrapper{
        height: fit-content;

    }
    .wrapper h1{
        font-size: 17vw;
    }
    .pic{
        width: 35vw;
        position: relative;
        top: auto;
        bottom: 5rem;
    }
}
@media (max-width: 850px) {
    .wrapper{
        padding: 10rem 0;
    }
    .wrapper h3{
        margin-top: 0;
        font-size: 1rem;
    }
    .pic{
        width: 25rem;
        bottom: auto;
    }
    .wrapper h1{
        -webkit-text-stroke-width: 4px;
        font-size: 20vw;
    }
    .wrapper::after{
        top: auto;
        margin: 30rem 0 0 60vw;
    }
    .wrapper::after, .wrapper h1::before{
        height: 15vw;
        width: 15vw;
    }
    .wrapper h3::after{
        height: 5vw;
        width: 5vw;
    }
}