.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper h3{
    font-size: 2vw;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 500;
    margin: 0;
    margin-top: 15vh;
}
.wrapper h1{
    margin: 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 7px;
    font-size: 18vw;
    font-family: 'Koulen', sans-serif;
    font-weight: 600;
    position: relative;
}
.pic{
    position: absolute;
    mix-blend-mode: luminosity;
    border-radius: 100px;
    margin-top: 25rem;
    width: 30vw;
    filter: drop-shadow(0.5rem 0.5rem 10px black);
}
.absoluteDiv, .absoluteDiv2{
    height: 10vw;
    width: 10vw;
    background: var(--shadow);
    position: absolute;
    animation: animate 15s infinite ease-in-out;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}

@keyframes animate {
    0%, 100%{
        rotate: 0deg;
    }
    50%{
        rotate: 180deg;
    }
}

.absoluteDiv{
    top: 55vh;
    left: 10rem;
}

.absoluteDiv2{
    height: 2.5vw;
    width: 2.5vw;
    right: 15vw;
    top: 20vh;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.absoluteDiv3{
    height: 10vw;
    width: 10vw;
    position: absolute;
    border-radius: 100px;
    right: 15vw;
    bottom: 20vh;
    background: var(--shadow);
    box-shadow: 0 0 10px 20px rgb(51, 3, 124);
    animation: animate2 10s infinite linear;
}
@keyframes animate2 {
    50%{
      scale: 1.1;
      border-radius: 30% 70% 67% 33% / 30% 30% 70% 70% ;  
    }
    75%{
        border-radius: 72% 28% 26% 74% / 56% 62% 38% 44% ;
    }
}
@media (max-width: 1399px) {
    .wrapper h3{
        margin-top: 20vh;
    }
    .pic{
        margin-top: 20rem;
        width: 40vw;
    }
}
@media (max-width: 768px) {
    .wrapper{
        justify-content: center;
    }
    .wrapper h3{
        margin: 0 0 1rem 0;
        font-size: 1rem;
    }
    .pic{
        margin-top: 0;
        position: relative;
        width: 25rem;
    }
    .wrapper h1{
        -webkit-text-stroke-width: 4px;
        font-size: 20vw;
    }
    .absoluteDiv{
        left: 2rem;
        top: 35vh;
        width: 15vw;
        height: 15vw;
    }
    .absoluteDiv2{
        height: 2rem;
        width: 2rem;
        top: 12vh;
        right: 2rem;
    }
    .absoluteDiv3{
        bottom: 5vh;
        height: 20vw;
        width: 20vw;
    }
}