.wrapper{
    position: fixed;
    z-index: 9;  
}
.profile{
    display: none;
}
.nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(10px);
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0 4rem;
}
.nav_logo h3{
    font-size: 1.5rem;
    color: white;
}
.nav_list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav_link a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}
.nav_btn{
    display: none;
}
.nav_btn img{
    width: 2.5rem;
    height: 2.5rem;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.icons img{
    width: 30px;
}
.nav_btn img[name="close-btn"] {
    display: none;
}
.nav_logo h3, .nav_list, .nav_btn{
    padding: 0 3rem;
}

@media (max-width:999px) {
    .navbar{
        position: absolute;
        width: 50vw;
        height: 100vh;
        background-color: rgb(28, 27, 27);
        top: 0;
        left: 0;
        transform: translateX(-180%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.3s linear;
        padding: 0;
    }
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .profile img{
        width: 100px;
        border-radius: 100%;
        border: 1px solid var(--shadow);
    }
    .active .navbar{
        transform: translateX(0);
    }
    .nav.active{
        height: 100vh;
        align-items: baseline;
    }
    .active .nav_btn img[name="close-btn"]{
        display: block;
    }
    .active .nav_btn img[name="menu-btn"]{
        display: none;
    }
    .nav_btn {
        display: block;
    }
    .nav_list{
        flex-direction: column;
        align-items: baseline;
        gap: 1.5rem;
        margin: 0;
        padding: 10vh 0;
    }
    .nav_link a{
        font-size: 1.5rem;
        color: rgb(234, 227, 227);
    }
    .nav_logo{
        padding: 0;
    }
    .socials{
        padding: 10vh 0;
    }
}