:root {
  --primary: aliceblue;
  --shadow: #6011ff;
}

#root{
  padding: 0;
  max-width: none;
  text-align: left;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Koulen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./assets/8a.jpg);
  background-size: cover;
  color: var(--primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
hr{
  width: 80vw;
  border: 0.5px solid #310d75;
  background: #310d75;
  border-radius: 100%;
  height: 2px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #6011ff;
  }

  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6011ff;
    border-radius: 20px;
    border: 1px solid #ffffff;
  }