@font-face {
  font-family: "rubik";
  src: url("./assets/fonts/rubik/static/Rubik-Regular.ttf");
}

:root {
  --primary: aliceblue;
  --shadow: #6011ff;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*   background: radial-gradient(circle at 10% 20%, rgba(0, 0, 0, 0.905) 0%, rgba(64, 64, 64, 0.911) 100.2%);
  background-color: rgb(52, 8, 85); */
  background: url(./assets/8a.jpg);
  background-size: cover;
  color: var(--primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}