.social{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.link{
    font-size: 2rem;
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s ease-in-out;
}
.link:hover{
    color: var(--shadow);
}